#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#sendField {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}

/*Username stlying */
body,
#txt,
#hide{
  font:inherit;
  margin:0;
  padding:0;
}
#txt{
  border:none;
  color:#888;
  min-width:10px;
}

.user-ctrl
{
  min-width: 0;
}

.user-ctrl:hover
{
  border-radius: 2px;
  border: solid silver 1px;
}
