.chatbox
{
  height:70vh;
  overflow: auto;
}

  #messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#messages
{
}

#messages li {
  padding: 5px 10px;
}

#sendField {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
